<div class = "todo_form">

		<h3>Create a To-Do Item</h3>
<%= form_for(TodoItem.new(:destination_id => destination_id), :remote => true) do |f| %>



		<%= f.hidden_field :destination_id %>




<div class = "field">
<p>Name your goal: <BR>
		<%= f.text_field :name %>

</div>

<div class = "field">
	<p>Address or landmark:
		<%= f.text_field :location %>

</div>
<div class = "field">
		<%= f.submit  %>

</div>
<br/>

<% end %>


</div>