<div class="sortable">
<div id="entiretodo">
<div class = "todo_items" data-comment-id="<%= todo_item.destination_id %>"
	"<% todo_item.completed? ? 'completed' : '' %>">


<h2 id="todotitle"><%= todo_item.name %></h2>
<h4 id="todolocation">@ <%= todo_item.location %> <%= link_to image_tag('like.png'), like_todo_item_path(todo_item.id), {:class => 'likebutton'}, :remote => :true, :method => :post %></h4>


<div class="comments-<%=todo_item.id%>">
	<div id="displaycomments">
<% todo_item.comments.each do |comment| %>

<%= render comment %>
<% end %>


<%= render :partial => 'comments/form', :locals => { :item => todo_item } %>


</div>
</div>
</div>
</div>
</div>
<BR>